@import 'tailwindcss';
@source '../node_modules/layerchart/**/*.{svelte,js}';

@theme {
	--color-primary: hsl(257.4075 100% 50%);
	--color-surface-100: hsl(180 100% 100%);
	--color-surface-200: hsl(0 0% 94.902%);
	--color-surface-300: hsl(180 1.9608% 90%);
	--color-surface-content: hsl(215 27.907% 16.8627%);
}
